[package]
name = "gseq"
version = "0.1.0"
edition = "2021"


[dependencies]
winit = "0.27"
env_logger = "0.10"
log = "0.4"
wgpu = "0.14"
pollster = "0.2"
bytemuck = { version = "1.12", features = [ "derive" ] }
cgmath = "0.18"
# Load the .obj
tobj = "3.2"
